accelerate
bert_score
datasets<4
einops
evaluate
openai
optimum
pre-commit
rouge_score
sacrebleu
sentence_transformers
tenacity
tokenizers
tqdm
transformers

#open_clip_torch
git+https://github.com/bryant1410/open_clip@patch-1
clip_benchmark
